html,body,header {
    margin: 0;
}
footer p{
    background-color: /*rgb(255, 142, 49)*/#ff8e31;
    text-align: center; 
    padding: 2em;
}
#konec{
    text-align: center;
}
section{
    color: white;
    padding: 0 2em;
    margin: 0 auto 0 auto;
    
    
}
.grid-container {
    display: grid;
    grid-template-columns: 75% 25%;
    padding: 0;
    margin: 0;
}
.dropdown-item{
    background-color: white!important;
    color: black!important;
}

#nav {
    background-color: #1F29DF;
}
.tlacitko{
    border: 1px solid #D22500;
    color: #D22500;
}
.tlacitko:hover{
    background-color: #D22500;
    color: white;
}
.hdr{
    background-color: #454DE2;
}
header, #text, footer, aside{
    color: white;
}
#uvod {
    margin-top: 1em;
}
h3{
    text-align: center;
    background-color: /*#24e024*/#2CE571;
    margin:0;
    padding: 0;
}
h4{
    margin: 0;
    padding: 0.2em 0;
    background-color: #D22500;
    color: #FFBC00;
}

section div{
    background-color: #FF5431;
    overflow: auto;
}
p{
    background-color: #FF5431;
    margin: 0 auto 0 auto;
    padding: 1em 2em;
}

#main {
    margin-right: 2em;
    border-right: 3px solid red;
    border-left: 4px solid red; 
}
.text {
    padding: 0.5em 1em;
    margin: 1em 1em;
    width: 25%;
    background-color: #FF5431;
}
img{
    margin: 1em 0;
}
.vlajka{
    width: 200px;
    height: 150px;
}
section{
    clear: both;
}
.imgF{
    float: right;

    margin: 3em;
}

table th, table td{
    margin: 1em;
    color: white;
    border: none;
}
tr:nth-child(even) {
    background-color: #FF7C60;
  }
tr:nth-child(odd) {
    background-color: #FF5431;
  }